<% layout('layouts/boilerplate')%>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">

                <div>Hello</div>
                <h1>
                    <%= user %>

                </h1>

                <div>
                    <a href="/users/logout">Logout</a>
                </div>
            </div>


        </div>
    </div>